<img src="https://media.giphy.com/media/a3xlApIr1uwSI/giphy.gif" alt="registeration Form" height= 150px width= 150px>
<form class="registerForm" method="POST" action="/register">
    <div>
    <label for="username">Username:</label><br>
    <input type="text" name="username" placeholder="Choose wisely!" id="username">
  </div>
  <div>
    <label for="email">Email:</label><br>
    <input type="text" name="email" placeholder="your_email@email.com" id="email">
  </div>
  <div>
    <label for="password">Password:</label><br>
    <input type="password" name="password" id="password">
  </div>
  <div>
    <label for="passwordConfirmation">Password Confirmation:</label><br>
    <input type="password" name="passwordConfirmation" id="passwordConfirmation">
  </div><br>
  <button class="button">Register</button>
</form>
