<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="http://www.rpgroundtable.com/images/rpglogo.png" alt="RPG games for rpg gamers" width="50" height="100">
    </a>

    <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu" id="navMenu">
    <div class="navbar-end">
      <a href="/games" class="navbar-item">
        Games Gallery 
      </a>
      <a href="/games/new" class="navbar-item">
        Add a Game to the Collection!
      </a>
    </div>
  </div>
</nav>
