* {
  font-family: 'Alegreya Sans SC', sans-serif;
}
.image img {
  color: white;
  max-width: 200%;
  height: 500px;


}

.columncontent{
  background-color: rgba(0,0,0,0.5);
}

section {
  background: url("https://i.imgur.com/XhP2iCn.jpg");
  background-attachment: fixed;
  color: white;
}

.navbar-brand {
  background-color: black;
}

.navbar-menu {
  background-color: black;
}

.card-content {
  color: black;
}

html {
  background-color: black;
  color: white;
}

.navbar-item {
  color: white;
}

.title, h1 {
  color: white;

}

label.label {
  color: white;
}
