* {
  font-family: 'Alegreya Sans SC', sans-serif;
}

section {
  background: url("https://i.imgur.com/XhP2iCn.jpg");
  background-attachment: fixed;
  color: white;
}

.navbar-brand {
  background-color: black;
}

#navMenu.navbar-menu {
  background-color: black;
}

.card-content {
  color: black;
}

html {
  background-color: black;
  color: white;
}

a.navbar-item {
  color: white;
}

.title, h1 {
  color: white;

}

label.label {
  color: white;
}
