<h1>Enrol a new game in the list!</h1>

<form action="/games" method="post">
 <div class="field">
   <label class="label">Game Name</label>
   <div class="control">
     <input class="input" type="text" name="name">
   </div>
 </div>

 <div class="field">
   <label class="label">Price</label>
   <div class="control">
     <input class="input" type="text" name="price">
   </div>
 </div>

 <div class="field">
   <label class="label">Year Released</label>
   <div class="control">
     <input class="input" type="date" name="year">
   </div>
 </div>

 <div class="field">
   <label class="label">Game Description</label>
   <div class="control">
     <input class="input" type="text" name="description">
   </div>
 </div>

 <div class="field">
   <label class="label">Box art image</label>
   <div class="control">
     <input class="input" type="text" name="image">
   </div>
 </div>

 <div class="field is-grouped">
  <div class="control">
     <button class="button is-link">Submit</button>
   </div>
 </div>

   <div class="control">
     <button class=“button is-text”>Cancel</button>
   </div>
 </div>
</form>
